.piece {
  width: $square-size;
  height: $square-size;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;

  &.pawn.white {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg');
  }

  &.pawn.black {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg');
  }
}
