.piece {
  width: $square-size;
  height: $square-size;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;
  transition: transform 0.2s ease-in-out,
              opacity 0.2s ease-in-out;

  &.captured {
    opacity: 0;
  }

  @each $piece in pawn rook knight bishop queen king {
    &.#{$piece}.white {
      background-image: url('./images/pieces/#{$piece}-white.svg');
    }

    &.#{$piece}.black {
      background-image: url('./images/pieces/#{$piece}-black.svg');
    }
  }
}
