.piece {
  width: $square-size;
  height: $square-size;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;


  @each $piece in pawn rook knight bishop queen king {
    &.#{$piece}.white {
      background-image: url('pieces/#{$piece}-white.svg');
    }

    &.#{$piece}.black {
      background-image: url('pieces/#{$piece}-black.svg');
    }
  }
}
